
<h2>Create a New Issue</h2>
<br>

<div class="container">
 <form (submit)="submitIssue()">

   <div class="form-group">
     <label for="issueId">Issue ID:</label>
     <input type="number" id="issueId" name="issueId" [(ngModel)]="issue.issueId">
   </div>

   <div class="form-group">
     <label for="title">Title</label>
     <input type="text" id="title" name="title" [(ngModel)]="issue.title">
   </div>

   <div class="form-group">
     <label for="description">Description:</label>
     <textarea id="description" name="description" rows="4" cols="50" [(ngModel)]="issue.description"></textarea>
   </div>
   

   <div class="form-group">
     <label for="priority">Priority</label>
     <select id="priority" name="priority" [(ngModel)]="issue.priority">
       <option value="High">High</option>
       <option value="Medium">Medium</option>
       <option value="Low">Low</option>
     </select>
   </div>
   
   <div class="form-group">
     <label for="status">Status</label>
     <select id="status" name="status" [(ngModel)]="issue.status">
       <option value="Pending">Pending</option>
       <option value="In progress">In progress</option>
       <option value="Completed">Completed</option>
       <option value="Review">Review</option>
     </select>
   </div>

   <div class="form-group">
     <label for="date">Date</label>
     <input type="date" id="date" name="date" [(ngModel)]="issue.date">
   </div>

   <div class="form-group">
     <label for="raisedBy">Raised By</label>
     <input type="text" id="raisedBy" name="raisedBy" [(ngModel)]="issue.raisedBy">
   </div>

   <div class="form-group">
     <label for="assignedTo">Assigned To</label>
     <input type="text" id="assignedTo" name="assignedTo" [(ngModel)]="issue.assignedTo">
   </div>

   <div class="form-group">
     <label for="sprint">Sprint</label>
     <input type="text" id="sprint" name="sprint" [(ngModel)]="issue.sprint">
   </div>

   <div class="button">
     <button class="btn btn-success" mat-raised-button color="primary">Create Issue</button>
     <span style="margin-left: 10px;"></span> <!-- Add space between the buttons -->
     <button class="btn btn-secondary" mat-raised-button color="warn">Cancel</button>
   </div>
   
 </form>
</div>