mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
  }
  
  .header{
    text-align: center;
  
  }
  .full-width {
    width: 80%;
  }
  
  .button-row {
    padding-top: 5px;
  }
  
  .button-row a {
    margin-right: 8px;
    text-align: center;
  }
  
  .forget-password{
    padding-left: 0px;
  }
  
  .emailInput{
    padding-top: 10px;
  }
  
  .contentBody {
    padding: 60px 1rem;
    background :#1b6ca8;
    display: block;
  }
  
  .aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .first-name, .last-name {
    width: 39%;
  }

  .last-name {
    margin-left: 2%;
  }
  
  .dropdown {
    width: 25%;
  }

  .phone {
    width: 53%;
    margin-left: 2%;
  }

  .content-body{
    min-height: 100vh;
    padding: 60px 1rem;
    background: #16bca8;
    display: block;
}