mat-toolbar {
    background-color: #16bca8;
}

mat-drawer {
    width: 210px;
    padding-top: 20px;
}

mat-drawer .content {
    width: 100%;
}

mat-drawer .content:hover {
    background-color: grey;
}

.sidenav-wrapper {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.drawer {
    margin-top: 0.5rem;
}

.dropdown-link {
    text-decoration: none;
    color: black;
}

mat-tab-group {
    margin-left: 1rem;
}

.sidenav-btn {
    border: none;
    background-color: #16bca8;
}